/*******************************/
/********* General CSS *********/
/*******************************/
body {
    color: #FAF8F1;
    background: #FAF8F1;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

img{
    border-radius: 30px;
    background: #FAF8F1;
}

h1{
    color: #C58940;
}
h2, 
h3, 
h4,
h5, 
h6 {
    color: #C58940;
}

a {
    color: #C58940;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #FAF8F1;
    outline: none;
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    background: #FAF8F1;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #FAF8F1;
    color: #dddddd;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top:hover {
    color: #FAF8F1;
    background: #dddddd;
}

.back-to-top i {
    padding-top: 10px;
}

.btn {
    transition: .3s;
}


/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    position: relative;
    height: 90px;
    background: #4C3D3D;
    border-radius: 0px 00px 10px 10px;
}

.top-bar .logo {
    padding: 15px 0;
    text-align: left;
    overflow: hidden;
}

.top-bar .logo h1 {
    margin: 0;
    color: #FAF8F1;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}

.top-bar .logo img {
    max-width: 100%;
    max-height: 60px;
    border-radius: 25px;
}

.top-bar .top-bar-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .top-bar-icon {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar .top-bar-icon [class^="flaticon-"]::before {
    margin: 0;
    color: #FAF8F1;
    font-size: 40px;
}

.top-bar .top-bar-text {
    padding-left: 15px;
}

.top-bar .top-bar-text h3 {
    margin: 0 0 5px 0;
    color: #FAF8F1;
    font-size: 16px;
    font-weight: 400;
}

.top-bar .top-bar-text p {
    margin: 0;
    color: #FAF8F1;
    font-size: 13px;
    font-weight: 400;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}

@media (max-width: 991.98px) {
    .top-bar .logo {
        text-align: center;
    }
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.nav-bar {
    position: relative;
    background: #FAF8F1;
    transition: .3s;
}

.nav-bar .container-fluid {
    padding: 0;
}

.nav-bar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1366px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    z-index: 999;
}

.nav-bar .navbar {
    height: 100%;
    background: #E5BA73 !important;
    border-radius: 15px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff;
    transition: none;
}

.nav-bar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 40px;
    background: #f8f9fa;
}

.nav-bar .btn {
    color: #ffffff;
    background: #C58940;
    border: 2px solid #C58940;
    border-radius: 40px;
}

.nav-bar .btn:hover {
    color: #C58940;
    background: #FAF8F1;
    border-color: #FAF8F1;
}

@media (min-width: 992px) {
    .nav-bar {
        padding: 0 75px;
    }
    
    .nav-bar.nav-sticky {
        padding: 0;
    }
    
    .nav-bar .navbar {
        padding: 20px;
    }
    
    .nav-bar .navbar-brand {
        display: none;
    }
    
    .nav-bar a.nav-link {
        padding: 8px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media (max-width: 991.98px) {
    .nav-bar .navbar {
        padding: 15px;
    }
    
    .nav-bar a.nav-link {
        padding: 5px;
    }
    
    .nav-bar .dropdown-menu {
        box-shadow: none;
    }
    
    .nav-bar .btn {
        display: none;
    }
}


/*******************************/
/******** Carousel CSS *********/
/*******************************/
.carousel {
    position: relative;
    width: 100%;
    height: calc(100vh - 170px);
    min-height: 400px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.carousel .carousel-inner,
.carousel .carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .carousel-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}

.carousel .carousel-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 170px);
    min-height: 400px;
}

.carousel .carousel-caption p {
    color: #E5BA73;
    font-size: 30px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.carousel .carousel-caption h1 {
    color: #C58940;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 35px;
}

.carousel .carousel-caption .btn {
    padding: 15px 35px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FAEAB1;
    background: transparent;
    border: 2px solid #FAEAB1;
    border-radius: 90px 0px;
    transition: .3s;
}

.carousel .carousel-caption .btn:hover {
    color: #C58940;
    background: #FAEAB1;
    border-color: #FAEAB1;
}

@media (max-width: 767.98px) {
    .carousel .carousel-caption h1 {
        font-size: 40px;
        font-weight: 700;
    }
    
    .carousel .carousel-caption p {
        font-size: 20px;
    }
    
    .carousel .carousel-caption .btn {
        padding: 12px 30px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .carousel .carousel-caption h1 {
        font-size: 30px;
        font-weight: 500;
    }
    
    .carousel .carousel-caption p {
        font-size: 16px;
    }
    
    .carousel .carousel-caption .btn {
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

.carousel .animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}


/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
    position: relative;
    padding: 7px 0;
    text-align: center;
    background: #FAEAB1;
}

.page-header h2 {
    position: relative;
    color: #C58940;
    font-size: 50px;
    font-weight: 700;
}

.page-header h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    left: calc(50% - 50px);
    bottom: 0;
    background: #C58940;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 22px;
    color: #C58940;
}

.page-header a:hover {
    color: #ffffff;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #C58940;
}

.page-header a:last-child::after {
    display: none;
}

@media (max-width: 991.98px) {
    .page-header {
        padding: 60px 0;
    }
    
    .page-header h2 {
        font-size: 45px;
    }
    
    .page-header a {
        font-size: 20px;
    }
}

@media (max-width: 767.98px) {
    .page-header {
        padding: 45px 0;
    }
    
    .page-header h2 {
        font-size: 35px;
    }
    
    .page-header a {
        font-size: 18px;
    }
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
}

.section-header p {
    color: #C58940;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 50px;
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}

/*******************************/
/********* Register CSS *********/
/*******************************/
.register {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.register .col-md-6 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.register .col-md-4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.register .col-md-6:first-child {
    background: #FAEAB1;
    border-radius: 20px 0px 0px 20px ;
}

.register .col-md-6:last-child {
    background: #F7E1AE;
    border-radius: 0px 20px 20px 0px ;
}

.register .col-md-4:first-child {
    background: #FAEAB1;
    border-radius: 20px 0px 0px 20px ;
}

.register .col-md-4:last-child {
    background: #FFF8D6;
    border-radius: 0px 20px 20px 0px ;
}

.register .register-info {
    position: relative;
    width: 100%;
    padding: 0 15px;
}

.register .register-item {
    position: relative;
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border: 5px solid rgba(256, 256, 256, .2);
    border-radius: 20px;
}

.register .register-item [class^="flaticon-"]::before {
    margin: 0;
    color: #1b3045;
    font-size: 40px;
}

.register .register-text {
    position: relative;
    width: auto;
    padding-left: 20px;
}

.register .register-text h1 {
    color: #565D47;
    font-size: 20px;
    font-weight: 600;
}

.register .register-text h2 {
    color: #565D47;
    font-size: 20px;
    font-weight: 600;
}

.register .register-text p {
    margin: 0;
    color: #B49C73;
    font-size: 12px;
}

.register .register-item:last-child {
    margin-bottom: 0;
}

.register .register-form {
    position: relative;
    padding: 0 5px;
}

.register .register-form input {
    color: #C58940;
    height: 30px;
    border-radius: 0;
    border-width: 2px;
    border-color: rgba(256, 256, 256, .4);
    background: #ffffff;
}

.register .register-form textarea {
    color: #C58940;
    height: 185px;
    border-radius: 0;
    border-width: 1px;
    border-color: rgba(256, 256, 256, .4);
    background: #ffffff;
}

.register .register-form input:focus,
.register .register-form textarea {
    box-shadow: none;
}

.register .register-form .form-control::placeholder {
  color: #dddddd;
  opacity: 1;
}

.register .register-form .form-control::-ms-input-placeholder {
  color: #dddddd;
}

.register .register-form .form-control::-ms-input-placeholder {
  color: #dddddd;
}

.register .register-form .btn {
    padding: 16px 100px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    background: #617A55;
    border: none;
    border-radius: 0;
    transition: .2s;
}
/********* modificar botones del registro curso **********/
.register .register-form .btnc {
    padding: 10px 32px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    background: #000000;
    border: none;
    border-radius: 0;
    transition: .3s;
}
.register .register-form .btnc:hover {
    color: #617A55;
    background: #A4D0A4;
}
/********* fin de modificar registro curso **********/
.register .register-form .btn:hover {
    color: #617A55;
    background: #A4D0A4;
}

.register .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/*******************************/
/*********** Student List CSS **********/
/*******************************/
.studentList {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.studentList .row {
    position: relative;
}

.studentList .row::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    left: calc(50% - .5px);
    background: #617A55;
}

.studentList #accordion-1 {
    padding-right: 15px;
}

.studentList #accordion-2 {
    padding-left: 15px;
}

@media(max-width: 767.98px) {
    .studentList .row::after {
        display: none;
    }
    
    .studentList #accordion-1,
    .studentList #accordion-2 {
        padding: 0;
    }
    
    .studentList #accordion-2 {
        padding-top: 15px;
    }
}

.studentList .card {
    margin-bottom: 15px;
    border: none;
    border-radius: 30px;
}

.studentList .card:last-child {
    margin-bottom: 0;
}

.studentList .card-header {
    padding: 0;
    border: none;
    background: #609966;
    border-radius: 30px;
}

.studentList .card-header a {
    display: block;
    padding: 10px 25px;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    line-height: 40px;
    border: 0px solid rgba(0, 0, 0, .1);
    transition: .2s;
}

.studentList .card-header [data-toggle="collapse"][aria-expanded="true"] {
    background: #9DC08B;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px ;
}

.studentList .card-header [data-toggle="collapse"]:after {
    font-family: 'font Awesome 5 Free';
    content: "\f067";
    float: right;
    color: #ffffff;
    font-size: 12px;
    font-weight: 900;
    transition: .2s;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px ;
}

.studentList .card-header [data-toggle="collapse"][aria-expanded="true"]:after {
    font-family: 'font Awesome 5 Free';
    content: "\f068";
    float: right;
    color: #40513B;
    font-size: 12px;
    font-weight: 900;
    transition: .5s;
}

.studentList .card-body {
    padding: 20px 25px;
    font-size: 16px;
    background: #62a87a;
    border: 1px solid rgba(0, 0, 0, .1);
    border-top: none;
    border-radius: 0px 0px 30px 30px;
}

/*******************************/
/********** Information CSS **********/
/*******************************/
.information {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.information .section-header {
    margin-bottom: 30px;
}

.information .information-img {
    position: relative;
    height: 100%;
}

.information .information-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.information .information-text p {
    font-size: 16px;
}

.information .information-text a.btn {
    position: relative;
    margin-top: 15px;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 500px;
    letter-spacing: 1px;
    color: #EDF1D6;
    border-radius: 0;
    background: #609966;
    transition: .3s;
}

.information .information-text a.btn:hover {
    color: #9DC08B;
    background: #40513B;
}

@media (max-width: 767.98px) {
    .information .information-img {
        margin-bottom: 30px;
        height: auto;
    }
}

/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.contact .col-md-6 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact .col-md-6:first-child {
    background: #3C6255;
    border-radius: 30px 0px 0px 30px ;
}

.contact .col-md-6:last-child {
    background: #61876E;
    border-radius: 0px 30px 30px 0px;
}

.contact .contact-info {
    position: relative;
    width: 100%;
    padding: 0 15px;
}

.contact .contact-item {
    position: relative;
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border: 1px solid rgba(256, 256, 256, .2);
    border-radius: 30px;
}

.contact .contact-item [class^="flaticon-"]::before {
    margin: 0;
    color: #A6BB8D;
    font-size: 40px;
}

.contact .contact-text {
    position: relative;
    width: auto;
    padding-left: 20px;
}

.contact .contact-text h2 {
    color: #A6BB8D;
    font-size: 20px;
    font-weight: 600;
}

.contact .contact-text p {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
}

.contact .contact-item:last-child {
    margin-bottom: 0;
}

.contact .contact-form {
    position: relative;
    padding: 0 15px;
}

.contact .contact-form input {
    color: #dddddd;
    height: 40px;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgba(256, 256, 256, .4);
    background: transparent;
}

.contact .contact-form textarea {
    color: #dddddd;
    height: 185px;
    border-radius: 0;
    border-width: 1px;
    border-color: rgba(256, 256, 256, .4);
    background: transparent;
}

.contact .contact-form input:focus,
.contact .contact-form textarea {
    box-shadow: none;
}

.contact .contact-form .form-control::placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact .contact-form .form-control::-ms-input-placeholder {
  color: #ffffff;
}

.contact .contact-form .form-control::-ms-input-placeholder {
  color: #ffffff;
}

.contact .contact-form .btn {
    padding: 16px 30px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #030f27;
    border: none;
    border-radius: 30px;
    transition: .3s;
}

.contact .contact-form .btn:hover {
    color: #ffffff;
    background: #609966;
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*******************************/
/*********** Team CSS **********/
/*******************************/
.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.team .team-item {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.team .team-img {
    position: relative;
}

.team .team-img img {
    width: 100%;
}

.team .team-text {
    position: relative;
    padding: 25px 15px;
    text-align: center;
    background: #CA955C;
    transition: .5s;
}

.team .team-text h2 {
    font-size: 20px;
    font-weight: 600;
    color: #EDDFB3;
    transition: .5s;
}

.team .team-text p {
    margin: 0;
    color: #ffffff;
}

.team .team-item:hover .team-text {
    background: #E5BA73;
}

.team .team-item:hover .team-text h2 {
    color: #876445;
    letter-spacing: 1px;
}

.team .team-social {
    position: absolute;
    width: 100px;
    top: 0;
    left: -50px;
    display: flex;
    flex-direction: column;
    font-size: 0;
}

.team .team-social a {
    position: relative;
    left: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
}

.team .team-item:hover .team-social a:first-child {
    background: #876445;
    left: 50px;
    transition: .3s 0s;
    border-radius: 0px 30px 30px 0px;
}

.team .team-item:hover .team-social a:nth-child(2) {
    background: #3b5998;
    left: 50px;
    transition: .3s .1s;
}

.team .team-item:hover .team-social a:nth-child(3) {
    background: #0e76a8;
    left: 50px;
    transition: .3s .2s;
}

.team .team-item:hover .team-social a:nth-child(4) {
    background: #3f729b;
    left: 50px;
    transition: .3s .3s;
}

/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background: #4C3D3D;
    color: #FAF8F1;
}

.footer .footer-contact,
.footer .footer-link,
.footer .newsletter {
    position: relative;
    margin-bottom: 45px;
}

.footer h2 {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #C58940;
}

.footer h2::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #FAF8F1;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: #FFD95A;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
}

.footer .footer-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 7px 0;
    text-align: center;
    border: 1px solid rgba(256, 256, 256, .3);
    border-radius: 60px;
    transition: .3s;
}

.footer .footer-social a i {
    font-size: 15px;
    color: #ffffff;
}

.footer .footer-social a:hover {
    background: #FAF8F1;
    border-color: #FAF8F1;
}

.footer .footer-social a:hover i {
    color: #4C3D3D;
}

.footer .newsletter .form {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.footer .newsletter input {
    height: 50px;
    border: 2px solid #dddddd;
    border-radius: 0;
}

.footer .newsletter .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    background: #C07F00;
    border-radius: 20px;
    border: 0px solid #C07F00;
    transition: .3s;
}

.footer .newsletter .btn:hover {
    color: #000000;
    background: #FFD95A;
}

.footer .footer-menu .f-menu {
    position: relative;
    padding: 15px 0;
    font-size: 0;
    text-align: center;
    border-top: 1px solid rgba(256, 256, 256, .1);
    border-bottom: 1px solid rgba(256, 256, 256, .1);
}

.footer .footer-menu .f-menu a {
    color: #ffffff;
    font-size: 16px;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu .f-menu a:hover {
    color: #FAF8F1;
}

.footer .footer-menu .f-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.footer .copyright {
    padding: 30px 15px;
}

.footer .copyright p {
    margin: 0;
    color: #ffffff;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: #FAF8F1;
    font-weight: 500;
    letter-spacing: 1px;
}

.footer .copyright p a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
}






